{
  extends: 'eslint-config-simplifield/lib/backend',
  parserOptions: {
    sourceType: 'script',
    modules: true,
  },
  rules: {
    'no-magic-numbers': 0,
    "newline-per-chained-call": "off",
    "no-new": "off"
  },
}
